<form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()" class="box">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input formControlName="username" class="input" type="email" placeholder="e.g. alex@example.com">
        <small class="has-text-danger" *ngIf="loginForm.hasError('required', 'username')">Email is required.</small>
        <small class="has-text-danger" *ngIf="loginForm.hasError('email', 'username')">Email is not valid.</small>
      </div>
    </div>
  
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input formControlName="password" class="input" type="password" placeholder="********">
        <small class="has-text-danger" *ngIf="loginForm.hasError('required', 'password')">Password is required.</small>
      </div>
    </div>
  
    <button type="submit" [disabled]="!loginForm.valid" class="button is-success has-text-weight-bold is-flex is-align-content-center is-justify-content-center"><span>Login</span> <i class="bi bi-arrow-right-circle ml-2" style="font-size: 1.2rem;"></i></button>
  </form>
