<section class="hero is-medium is-info">
    <div class="hero-body">
      <p class="title ">
        My Account
      </p>
      
      <div class="content">
          <div class="columns is-multiline">
            <div class="column is-three-quarters-tablet is-one-third-widescreen">
            
              <div *ngIf="!userLoggedIn; else loggedIn">
                <div class="tabs">
                    <ul class="ml-0">
                      <li [ngClass]="{'is-active-tab': showLoginForm}" (click)="showLoginFormFunction(true)"><a class="pl-0">Login</a></li>
                      <li [ngClass]="{'is-active-tab': !showLoginForm}" (click)="showLoginFormFunction(false)"><a>Sign up</a></li>
                    </ul>
                  </div>

                  <div *ngIf="userAccountCreated" class="notification is-success">
                    <strong>Congrats!</strong> Your account was created. Login to use the App.
                  </div>

                  <div *ngIf="userAccountDeleted" class="notification is-warning">
                    <strong>Heyy!</strong> Your account was deleted. Sign up again to use the App.
                  </div>

               <app-login-form *ngIf="showLoginForm"></app-login-form>

               <app-signup-form *ngIf="!showLoginForm"></app-signup-form>
            </div>

            <ng-template #loggedIn>
              <button (click)="logoutUser()" class="button is-warning has-text-weight-bold">Logout</button>

              <h3 class="title is-size-5 has-text-weight-light mt-6 mb-3">Delete your Account</h3>

              <button (click)="deleteUserAccount()" class="button is-danger is-small has-text-weight-bold">Delete Account</button>
              <br>
              <small class="has-text-warning">You won't be able to recover your stickies.</small>

            </ng-template>

            </div>

            <div class="column">
            </div>
            <div class="column">
            </div>
          </div>
        </div>




    </div>
  </section>



