<section class="hero is-medium is-info">
    <div class="hero-body">
      <p class="title ">
        My Account
      </p>
      <div class="content">
    
        <div class="columns is-multiline">
            <div class="column is-three-quarters-tablet is-one-third-widescreen">
                <div class="tabs">
                    <ul class="ml-0">
                      <li [ngClass]="{'is-active-tab': !showSignup}" (click)="showSignup = false"><a class="pl-0">Login</a></li>
                      <li [ngClass]="{'is-active-tab': showSignup}" (click)="showSignup = true"><a>Sign up</a></li>
                    </ul>
                  </div>

               <app-login-form *ngIf="!showSignup"></app-login-form>

               <app-signup-form *ngIf="showSignup"></app-signup-form>
            </div>
            <div class="column">
            </div>
            <div class="column"></div>
          </div>

      </div>
    </div>
  </section>



