<form [formGroup]="signupForm" (ngSubmit)="signupFormSubmit()" class="box">
    <div class="field">
      <label class="label">First Name</label>
      <div class="control">
        <input formControlName="firstName" name="firstName" class="input" type="text" placeholder="e.g. John">
        <small class="has-text-danger" *ngIf="signupForm.hasError('required', 'firstName')">First Name is required.</small>
      </div>
    </div>

    <div class="field">
      <label class="label">Last Name</label>
      <div class="control">
        <input formControlName="lastName" name="lastName" class="input" type="text" placeholder="e.g. Smith">
        <small class="has-text-danger" *ngIf="signupForm.hasError('required', 'lastName')">Last Name is required.</small>
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input formControlName="email" name="email" class="input" type="email" (keyup)="emailExistValidator($event)" placeholder="e.g. alex@example.com">
        <small class="has-text-danger" *ngIf="signupForm.hasError('required', 'email')">Email is required.</small>
        <small class="has-text-danger" *ngIf="signupForm.hasError('email', 'email')">Email is not valid.</small>
        <small class="has-text-danger" *ngIf="emailExistResult">Email is already taken.</small>
      </div>
    </div>
  
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input formControlName="password" name="password" class="input" type="password" placeholder="********">
        <small class="has-text-danger" *ngIf="signupForm.hasError('required', 'password')">Password is required.</small>
        <small class="has-text-danger" *ngIf="signupForm.hasError('passwordStrength', 'password')">
          Let's be secure, your password should:
          <ul>
              <li>Be atleast 6 characters long</li>
              <li>Be less than 16 characters long.</li>
              <li>Contain lowercase letters.</li>
              <li>Contain atlest 1 uppercase letter.</li>
              <li>Contain atleast 1 number.</li>
          </ul>
      </small>
      </div>
    </div>

    <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control">
          <input formControlName="confirmPassword" name="confirmPassword" class="input" type="password" placeholder="Confirm Password">
          <small class="has-text-danger" *ngIf="signupForm.hasError('required', 'confirmPassword')">Password confirmation is required.</small>
          <small class="has-text-danger" *ngIf="signupForm.hasError('mustMatch', 'confirmPassword')">Passwords does not match.</small>
        </div>
    </div>
  
    <button type="submit" [disabled]="!signupForm.valid" class="button is-success has-text-weight-bold is-flex is-align-content-center is-justify-content-center"><span>Sign up</span> <i class="bi bi-arrow-right-circle ml-2" style="font-size: 1.2rem;"></i></button>
  </form>

