<section class="hero is-small is-light">
    <div class="hero-body">
        <div class="tabs is-centered is-boxed">
            <ul>
                <li routerLinkActive="is-active">
                    <a routerLink="manage">
                      <span class="icon is-small"><i class="bi-journals" aria-hidden="true"></i></span>
                      <span>Manage</span>
                    </a>
                  </li>
              <li routerLinkActive="is-active">
                <a routerLink="/new">
                  <span class="icon is-small"><i class="bi-journal-plus" aria-hidden="true"></i></span>
                  <span>New</span>
                </a>
              </li>
           
              <li routerLinkActive="is-active">
                <a routerLink="/about">
                  <span class="icon is-small"><i class="bi-info-square" aria-hidden="true"></i></span>
                  <span>About</span>
                </a>
              </li>
              <li routerLinkActive="is-active">
                <a routerLink="/account">
                  <span class="icon is-small"><i class="bi-person-circle" aria-hidden="true"></i></span>
                  <span>Account</span>
                </a>
              </li>
            </ul>
          </div>
      
    </div>
  </section>

  

  
