<form class="box">
    
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="e.g. alex@example.com">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="********">
      </div>
    </div>

    <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="********">
        </div>
    </div>
  
    <button class="button is-success has-text-weight-bold is-flex is-align-content-center is-justify-content-center"><span>Sign up</span> <i class="bi bi-arrow-right-circle ml-2" style="font-size: 1.2rem;"></i></button>
  </form>

