.yellow {
    background-color: #ffe08a;
}

.blue {
    background-color: #3e8ed0;
}

.purple {
    background-color: #905ac3;
}

.orange {
    background-color: #dc7756;
}

.white {
    background-color: #fff;
}


.colorDot {
    width: 16px;
    height: 16px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}


.sticky-title-input {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
    border: 0px;
    border-radius: 0px;
}

.sticky-title-input:focus {
    outline: none;
    box-shadow: none;
}

.sticky-content-input {
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    padding: 0;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.6);

}

.card-footer {
    border-top: 0;
}

.card-footer .card-footer-item {
    border: 0;
}



