<section class="hero is-info is-medium">
    <div class="hero-body">
      <p class="title">
        About Sticky Notes
      </p>
      <p class="content mt-4">
        I built sticky notes to try something out of the box. I was looking up example angular projects to try and the idea just popped into my head<br>
        after taking a look at a demo notepad app. I hope you find it useful. <br> 
        <br>
        Get the full code here: <br>
    
        <a class="button has-text-weight-bold mt-4 is-success" href="https://github.com/codedbychavez/Sticky-Notes" target="_blank">View on GitHub <i class="ml-2 bi bi-github" style="font-size: 1.5rem;"></i></a>
      </p>
    </div>
  </section>
